# Docker
/.devcontainer/

# Jupyter
.ipynb_checkpoints/
.Trash*

# Quarto
/.quarto/
/_freeze/
/_extensions/

# R
/.Rproj.user/
.RData
.Rhistory

# Python
/.venv/
.jupyter_cache

# Julia

# hidden directory