# Docker
/.devcontainer/

# Jupyter
.ipynb_checkpoints/

# Quarto
/.quarto/
/_freeze/
/_extensions/

# R
/.Rproj.user/
.RData
.Rhistory

# Python
/.venv/
.jupyter_cache

# Julia

# cache
.Trash*
.DS_Store

# hidden directory